[Unit]
Description=Starlite
After=network.target

[Service]
ExecStart=/opt/apps_workspace/starlite/current/starlite-amd64
User=starlite
Group=starlite
WorkingDirectory=/opt/apps_workspace/starlite/current/
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
