package pages

import (
	"starlite/internal/features/common/components"
	"starlite/internal/features/common/layouts"
)

templ Index(isDev bool, baseURL string, counts map[string]int) {
	@layouts.Base(layouts.Meta{
		Title:       "Starlite",
		Description: "Index page of the starlite template",
		Canonical:   baseURL + "/",
	}, isDev, layouts.JS("js/datastar.js"), layouts.CSS("css/index.css")) {
		<header>
			@components.Icon("rocket", "2em")
			<h1>Starlite</h1>
			<p>Boilerplate for creating real-time Hypermedia applications in Go</p>
			@components.ThemeSwitcher()
		</header>
		<main>
			<div data-init="@get('/react')" data-signals={ templ.JSONString(counts) } class="reaction-container">
				<div class="reaction-block">
					<button class="reaction-type" data-on:click="@post('/react', { payload: { 'reaction': 'like' } })">👍</button>
					<span class="reaction-count" data-text="$like ? $like : 0">{ counts["like"] }</span>
				</div>
				<div class="reaction-block">
					<button class="reaction-type" data-on:click="@post('/react', { payload: { 'reaction': 'love' } })">❤️</button>
					<span class="reaction-count" data-text="$love ? $love : 0">{ counts["love"] }</span>
				</div>
				<div class="reaction-block">
					<button class="reaction-type" data-on:click="@post('/react', { payload: { 'reaction': 'laugh' } })">😂</button>
					<span class="reaction-count" data-text="$laugh ? $laugh : 0">{ counts["laugh"] }</span>
				</div>
			</div>
		</main>
	}
}
