body {
  max-width: var(--width-md);
  margin-block: var(--size-20);
  margin-inline: auto;
  padding-inline: var(--size-5);
}

header {
  text-align: center;

  h1 {
    margin-block: var(--size-2) var(--size-8);
    font-size: var(--size-7);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
  }

  p {
    margin-block-end: var(--size-4);
  }
}

main {
  margin-block: var(--size-16);
}

.reaction-container {
  display: flex;
  justify-content: center;
  gap: var(--size-10);

  .reaction-block {
    font-size: var(--size-6);

    .reaction-type {
      padding-block: var(--size-2);
      padding-inline: var(--size-3);
      margin-inline-end: var(--size-2);
      cursor: pointer;
      border-radius: var(--radius-xs);
      border: 1px solid var(--border);
      background-color: var(--surface);
      color: var(--muted-foreground);
      transition: background-color 0.1s var(--ease-out-quad),
        color 0.1s var(--ease-out-quad);

      &:hover {
        background-color: var(--accent);
        color: var(--accent-foreground);
      }
    }

    .reaction-count {
      font-variant-numeric: tabular-nums;
    }
  }
}
